.ant-menu-horizontal > .ant-menu-item > a,.ant-menu-horizontal > .ant-menu-submenu > a {
   display: inline-block !important;
}

.logo{
  align-items: center;
  display: flex;
}

.logo img{
  width: 40px;
  height: 40px;
}

.logo span{
  font-size: 28px;
  padding-left: 10px;
}

.footer{
  text-align: center;
}

.register {
  float: right !important
}
